<input class="user-toggle" type="checkbox">
<a class="user-link" data-user="<%= id %>"><%= firstName %> <%= lastName %></a>
<span class="user-avatar"><img src="<%= avatar.url %>"></span>
<button class="btn btn-primary user-delete" hidden>delete</button>