<div id="users-wrapper">
	<div id="users-list" class="box">
		<button id="bulk-delete" class="btn btn-primary" hidden>delete</button>
		<div id="list-wrapper"></div>
	</div>
	<div id="users-form" class="box"></div>
	<div id="users-formToggle"></div>
</div>