<div id="user-wrapper">
    <section class="user">
        <div class="user__personal box">
            <label>First name</label>
            <div> <%= firstName %> </div>
            <label>Last name</label>
            <div> <%= lastName %> </div>
        </div>
        <div class="user__photo box">
            <img src="<%= avatar.url %>">
        </div>
    </section>
    <section class="todolist">
        
    </section>
</div>